@import './global.scss';
$primary-color: #007bff;

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;

  h1 {
    text-align: center;
    margin-top: 20px;
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.content {
  padding-top: 64px; /* Matches header height */

  @media (max-width: 768px) {
    padding-top: 80px; /* Adjust for mobile view if needed */
  }
}


