@import './global.scss';

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #007bff; // Primary color matching the landing page
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
      background-color: darken(#007bff, 10%);
      transform: scale(1.05);
  }

  &:active {
      transform: scale(0.95);
  }
}

.primaryButton {
  background-color: #007bff;
}

.secondaryButton {
  background-color: #6c757d;

  &:hover {
      background-color: darken(#6c757d, 10%);
  }
}

  